@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Mukta:wght@200;300;400;500;600;700;800&family=Noto+Sans+SC:wght@100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
body{
    background-image: url("img/1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 950px;
    width: 1500px;

}

.navbar{
    background-color: transparent;
    display: flex;
    justify-content: center;
    justify-content: flex-end;
    gap: 40px;
    flex-wrap: wrap;
}
li{
    list-style-type:none;
    font-size: 1.8rem;
    padding-top: 20px;
    padding-right: 20px;
}
li a{
    text-decoration: none;
    color:rgba(182, 160, 160, 0.808);
    transition: color ,font-size .4s;
}
li :hover{
    color:rgb(255, 255, 255);
    font-size: 2rem;
    
}
.con{
    height: 500px;
    width: 350px;
    background-color:white;
    margin-left: 100px;
    margin-top: 250px;
    border-radius: 40px;
    box-shadow: 20px 20px 60px black,-20px -20px 60px rgba(255, 255, 255, 0.322);
   

}
